@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }
    protected async override Task OnInitializedAsync()
    {
        var User = (await AuthenticationState).User;
        if (User.Identity!.IsAuthenticated)
            NavManager.NavigateTo("home/dashboard");
        else
            NavManager.NavigateTo("identity/account/login");
    }
}
