<SfDialog Width="100px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenContextMenu"></DialogEvents>
    <DialogTemplates>
        <Header>Employee Menu</Header>
        <Content>
            <div class="hstack gap-2 mb-2" id="cursotStyle" @onclick="ViewClicked">
                <i class=" bi bi-eye text-info"></i>
                <span id="cursorStyle" class="text-info">View</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursotStyle" @onclick="EditClicked">
                <i class=" bi bi-pencil text-info"></i>
                <span id="cursorStyle" class="text-info">Edit</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursotStyle" @onclick="DeleteClicked">
                <i class=" bi bi-trash text-danger"></i>
                <span id="cursorStyle" class="text-danger">Delete</span>
            </div>
            <hr />
            <div class="hstack gap-2 mb-2" id="cursotStyle" @onclick="AddVacationClicked">
                <i class=" bi bi-backpack3 text-success"></i>
                <span id="cursorStyle" class="text-success">Add Vacation</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursotStyle" @onclick="AddOvertimeClicked">
                <i class=" bi bi-stopwatch text-danger"></i>
                <span id="cursorStyle" class="text-danger">Add Overtime</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursotStyle" @onclick="AddHealthClicked">
                <i class=" bi bi-hospital text-warning"></i>
                <span id="cursorStyle" class="text-warning">Add Health</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursotStyle" @onclick="AddSanctionClicked">
                <i class=" bi bi-x-octagon text-info"></i>
                <span id="cursorStyle" class="text-info">Add Sanction</span>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>

<style>
    #cursorStyle {
        cursor: pointer;
    }
</style>

@code {
    SfDialog? OpenDialog;
    private bool IsVisible { get; set; } = false;
    [Parameter] public EventCallback HandleViewClicked { get; set; }
    private async Task ViewClicked() => HandleViewClicked.InvokeAsync();
    [Parameter] public EventCallback HandleEditClicked { get; set; }
    private async Task EditClicked() => HandleEditClicked.InvokeAsync();
    [Parameter] public EventCallback HandleDeleteClicked { get; set; }
    private async Task DeleteClicked() => HandleDeleteClicked.InvokeAsync();
    [Parameter] public EventCallback HandleAddVacationClicked { get; set; }
    private async Task AddVacationClicked() => HandleAddVacationClicked.InvokeAsync();
    [Parameter] public EventCallback HandleAddOvertimeClicked { get; set; }
    private async Task AddOvertimeClicked() => HandleAddOvertimeClicked.InvokeAsync();
    [Parameter] public EventCallback HandleAddSanctionClicked { get; set; }
    private async Task AddSanctionClicked() => HandleAddSanctionClicked.InvokeAsync();
    [Parameter] public EventCallback HandleAddHealthClicked { get; set; }
    private async Task AddHealthClicked() => HandleAddHealthClicked.InvokeAsync();

    public void OpenContextMenu(){
        IsVisible = true;
        StateHasChanged();
    }
    public void CloseContextMenu(){
        IsVisible = false;
        StateHasChanged();
    }
}
